#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'us'# Reboot after installation
reboot
# Root password
rootpw --iscrypted $1$HpC5JOsh$m415mm9CzvsWCLJ9EqqH30
# System timezone
timezone Europe/Uzhgorod
# Use network installation
url --url="http://mirror.centos.org/centos/6.7/os/i386/"
# System language
lang en_US
# Firewall configuration
firewall --enabled --http --ftp --ssh
# Network information
network  --bootproto=static --device=eth0 --gateway=10.0.2.2 --ip=10.0.2.156 --nameserver=192.168.4.45 --netmask=255.255.255.0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# SELinux configuration
selinux --enforcing

# System bootloader configuration
bootloader --location=mbr --md5pass="$1$Hey.1yB9$s52n2fyrjfIrKbS3BwsDO."
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part /home --fstype="ext4" --size=5000
part /boot --asprimary --fstype="xfs" --size=1200
part /var --fstype="xfs" --size=10000
part /usr --fstype="xfs" --size=8000
part /tmp --fstype="xfs" --size=2000
part / --fstype="xfs" --size=7000


%packages
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end
