#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=static --device=enp0s3 --gateway=10.0.2.2 --ip=10.0.2.15 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=server.rhcsa.com

# Root password
rootpw --iscrypted $6$HdDoUUpsyVdmwfUu$ppK0FRz8IZAvuIrC3VxNbenapvMDez.wNEgSLFmPcNa.x9KvwjQ713YhiR3xnQJ8kpqiWO7uDEZDRcR6Crsxl0
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=shladyr --password=$6$JdOshn3qLog1EpCB$4Y0JfgkybEgeFEgt.BcyfLmfG8i0.lA7aYIH3CMx2ue8mcAoumhbooJu6Ht.OhrMQUshnyg/DOddhawBnfIWG/ --iscrypted --gecos="Serhy"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --all --initlabel --drives=sda
# Disk partitioning information
part pv.1292 --fstype="lvmpv" --ondisk=sda --size=10672
part swap --fstype="swap" --ondisk=sda --size=777
part pv.1651 --fstype="lvmpv" --ondisk=sda --size=11116
part pv.999 --fstype="lvmpv" --ondisk=sda --size=6672
part /boot --fstype="xfs" --ondisk=sda --size=555 --label=Label_boot
volgroup vg_root --pesize=4096 pv.1651
volgroup vg_home --pesize=4096 pv.999
volgroup vg_var --pesize=4096 pv.1292
logvol /  --fstype="xfs" --size=11111 --label="Lb_root" --name=lv_root --vgname=vg_root
logvol none  --fstype="None" --size=8888 --thinpool --name=pool00 --vgname=vg_var
logvol none  --fstype="None" --size=5556 --thinpool --name=pool00 --vgname=vg_home
logvol /var  --fstype="xfs" --size=8888 --label="Lb_lv_var" --thin --poolname=pool00 --name=lv_var --vgname=vg_var
logvol /home  --fstype="xfs" --size=5555 --label="Lb_home" --thin --poolname=pool00 --name=lv_home --vgname=vg_home

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools
openscap
openscap-scanner
scap-security-guide

%end

%addon org_fedora_oscap 
    content-type = scap-security-guide
    profile = standard
%end
%addon com_redhat_kdump --enable --reserve-mb=auto
%end
